flows.json
[
    {
        "id": "b4f44bd45c851470",
        "type": "tab",
        "label": "Test Frequency Band Powers",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f0c638b67c035fd",
        "type": "tab",
        "label": "Test Emotiv to Node-RED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "418ae4db17aaa27d",
        "type": "tab",
        "label": "Test Node-RED to ROS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "912b42b3010b057f",
        "type": "tab",
        "label": "Test 2 MC + neutral",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1f01e5e.1a3c4",
        "type": "tab",
        "label": "Emotiv BCI to ROS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e2f4ed605471f537",
        "type": "tab",
        "label": "EEG Data Collection",
        "disabled": false,
        "info": ""
    },
    {
        "id": "532ded640d221b98",
        "type": "tab",
        "label": "ML prediction",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5dd982f3c504e29",
        "type": "group",
        "z": "e1f01e5e.1a3c4",
        "name": "Emotiv Headset and Profile Connection",
        "style": {
            "label": true,
            "color": "#000000",
            "label-position": "n",
            "stroke": "#EBA4C0",
            "fill": "#EBA4C0",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "774ce4d1f3e8a634",
            "a8843dbef2e06a37"
        ],
        "x": 14,
        "y": 319,
        "w": 392,
        "h": 82
    },
    {
        "id": "ce1a6da7223e9e9f",
        "type": "group",
        "z": "e1f01e5e.1a3c4",
        "name": "Motion Sensors Processing",
        "style": {
            "label": true,
            "label-position": "n",
            "color": "#000000",
            "fill": "#ffC000",
            "fill-opacity": "0.25",
            "stroke": "#ffC000"
        },
        "nodes": [
            "22dab8c17a93af33",
            "7bb91a18e553130d",
            "e26e1b45f6eea9cf",
            "abfc75f5871e89d6",
            "9cf91f38d96b8676",
            "3cf25f8a90e93270",
            "46223d2415881e5c",
            "a1548fb2acddbb7b",
            "7c0bad96c5b8d65a"
        ],
        "x": 794,
        "y": 379,
        "w": 312,
        "h": 322
    },
    {
        "id": "2078d95306bd476a",
        "type": "group",
        "z": "e1f01e5e.1a3c4",
        "name": "Mental Commands",
        "style": {
            "label": true,
            "color": "#000000",
            "label-position": "n",
            "stroke": "#EBA4C0",
            "fill": "#EBA4C0",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "e0ce477a9112debc",
            "0c9eb6bc16bf9262",
            "3e86151e432194bb",
            "8a15a68a43768c21",
            "265955259ed79492",
            "0b2881b0e92765b1"
        ],
        "x": 454,
        "y": 59,
        "w": 242,
        "h": 242
    },
    {
        "id": "a12fd97fea4d5139",
        "type": "group",
        "z": "e1f01e5e.1a3c4",
        "name": "Motion Sensors",
        "style": {
            "label": true,
            "color": "#000000",
            "label-position": "n",
            "stroke": "#EBA4C0",
            "fill": "#EBA4C0",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "ce1781b3f9785571",
            "cd0938c71b767828",
            "78b75d1a175ab203",
            "769ba4978010f827"
        ],
        "x": 454,
        "y": 439,
        "w": 322,
        "h": 202
    },
    {
        "id": "f1b3f5e90605bca8",
        "type": "group",
        "z": "e1f01e5e.1a3c4",
        "name": "Dashboard",
        "style": {
            "label": true,
            "color": "#000000",
            "label-position": "n",
            "stroke": "#77C6CC",
            "fill": "#77C6CC",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "3e66fb647057c9e6",
            "d4736b16c8c4a330",
            "0f249d7105031e60",
            "4026fb70644dbb38",
            "ee6ed693bcd8230d",
            "d8c79e62c8076229"
        ],
        "x": 1184,
        "y": 99,
        "w": 282,
        "h": 162
    },
    {
        "id": "71dedeec6942bbbe",
        "type": "group",
        "z": "e1f01e5e.1a3c4",
        "name": "Flask Server",
        "style": {
            "label": true,
            "color": "#000000",
            "label-position": "n",
            "stroke": "#E7E7AE",
            "fill": "#E7E7AE",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "250d384043f5a0b6",
            "1973c89e3a71695c",
            "8c13823e944e5c04",
            "a2d3cab7263eb7e7",
            "510c8d47890ee1c0",
            "ab8c5ab7fce22595",
            "e1b43a5f8c226455",
            "33351957ffbdbf20",
            "b0a745e0549fa80c"
        ],
        "x": 724,
        "y": 19,
        "w": 432,
        "h": 322
    },
    {
        "id": "45533d472c436ec0",
        "type": "group",
        "z": "e1f01e5e.1a3c4",
        "name": "Dashboard",
        "style": {
            "label": true,
            "stroke": "#77C6CC",
            "fill": "#77C6CC",
            "fill-opacity": "0.25",
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "db996083278e494c",
            "b08cae830129419c",
            "466a6a0ab381ade6",
            "85cea2cdd1e13d4e",
            "959f04cee26a69ee"
        ],
        "x": 1124,
        "y": 479,
        "w": 342,
        "h": 122
    },
    {
        "id": "831ddf5fbc91a672",
        "type": "group",
        "z": "e1f01e5e.1a3c4",
        "name": "Commands test",
        "style": {
            "fill": "#999999",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "91385728185e65c2",
            "cd013d53bb8f7ca4"
        ],
        "x": 194,
        "y": 139,
        "w": 212,
        "h": 162
    },
    {
        "id": "bfa6067a4a904d68",
        "type": "group",
        "z": "e2f4ed605471f537",
        "name": "Emotiv Frequency Band Powers",
        "style": {
            "stroke": "#EBA4C0",
            "fill": "#EBA4C0",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "b5c2d5d67356b02f",
            "1db48cd5b9dd1cba",
            "808b7cb05cf52995",
            "6da3a98c8bb3f0f2",
            "e187111a92f1b5b0",
            "d19e46e1e9363aa6"
        ],
        "x": 14,
        "y": 19,
        "w": 452,
        "h": 322
    },
    {
        "id": "96ba6ab731736ebc",
        "type": "group",
        "z": "e2f4ed605471f537",
        "name": "Dashboard",
        "style": {
            "label": true,
            "stroke": "#77C6CC",
            "fill": "#77C6CC",
            "fill-opacity": "0.25",
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "1981989bdcc201f2",
            "49b949cccf90fc7b"
        ],
        "x": 124,
        "y": 359,
        "w": 232,
        "h": 142
    },
    {
        "id": "0f629cdf65d2a2b2",
        "type": "group",
        "z": "e2f4ed605471f537",
        "name": "Storing Data",
        "style": {
            "stroke": "#ffdf7f",
            "fill": "#ffdf7f",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "ed836d86e66c3718",
            "c3101725157a1c88",
            "16e510f34a1bf111",
            "06924b11d5b17e7a",
            "e52fb457e9d61cea",
            "567ea95ede562d2c",
            "e439d83741deda58",
            "968438a3e4cc9c17"
        ],
        "x": 484,
        "y": 19,
        "w": 522,
        "h": 482
    },
    {
        "id": "6d9bafec0c7f886a",
        "type": "group",
        "z": "e2f4ed605471f537",
        "name": "Writing CSV File",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffC000",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "078bbc5596fd792b",
            "d5d86b3c5e33be86",
            "81481ef233088497"
        ],
        "x": 1934,
        "y": 119,
        "w": 432,
        "h": 122
    },
    {
        "id": "0e1f7670d099f2a3",
        "type": "group",
        "z": "e2f4ed605471f537",
        "name": "Checking File",
        "style": {
            "stroke": "#9363b7",
            "fill": "#9363b7",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "651da4dd7228ce1c",
            "d3be549fe307c80d",
            "d44b22a5efb384dc"
        ],
        "x": 1494,
        "y": 119,
        "w": 432,
        "h": 122
    },
    {
        "id": "effaf9419984a627",
        "type": "group",
        "z": "e2f4ed605471f537",
        "name": "Debugging",
        "style": {
            "stroke": "#addb7b",
            "fill": "#addb7b",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "5fa3999de3c0049b",
            "d56ccffcbe6040c6",
            "c5c10f1dd9a046aa",
            "9920e1798be8798a",
            "36ee610b3258a5c7"
        ],
        "x": 1014,
        "y": 259,
        "w": 1232,
        "h": 122
    },
    {
        "id": "f2061261b933916f",
        "type": "group",
        "z": "e2f4ed605471f537",
        "name": "Check Recording",
        "style": {
            "stroke": "#ffff3f",
            "fill": "#ffff3f",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "294931d189a1ec07"
        ],
        "x": 1014,
        "y": 139,
        "w": 232,
        "h": 82
    },
    {
        "id": "05debabdd37c8894",
        "type": "group",
        "z": "e2f4ed605471f537",
        "name": "CSV Format",
        "style": {
            "stroke": "#ffdf7f",
            "fill": "#ffdf7f",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "936b215ab6dfb719"
        ],
        "x": 1254,
        "y": 139,
        "w": 232,
        "h": 82
    },
    {
        "id": "23345d065b25b516",
        "type": "group",
        "z": "532ded640d221b98",
        "name": "Emotiv",
        "style": {
            "label": true,
            "stroke": "#EBA4C0",
            "fill": "#EBA4C0",
            "fill-opacity": "0.25",
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "f6a2822f6bb32972",
            "ca97725123e6bb54",
            "53e7d1471d37908a"
        ],
        "x": 14,
        "y": 13,
        "w": 538,
        "h": 674
    },
    {
        "id": "c3cb24deda0c74f5",
        "type": "group",
        "z": "532ded640d221b98",
        "name": "Storing Data",
        "style": {
            "stroke": "#ffdf7f",
            "fill": "#ffdf7f",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "2e2f4dff9fee3669",
            "0d98de19a7bc912a",
            "b5b7acfa06fd132a",
            "109b184fc9c07bc9",
            "677d4483590db3ec",
            "b0bb8c1036a2741a"
        ],
        "x": 574,
        "y": 39,
        "w": 512,
        "h": 322
    },
    {
        "id": "a0a4b4cd0ea79f59",
        "type": "group",
        "z": "532ded640d221b98",
        "name": "Flask Server - Prediction",
        "style": {
            "label": true,
            "stroke": "#E7E7AE",
            "fill": "#E7E7AE",
            "fill-opacity": "0.25",
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "838004158d8f58c4",
            "ce28e374ee95b6b1",
            "13f80ce380ee1f87"
        ],
        "x": 1114,
        "y": 139,
        "w": 372,
        "h": 122
    },
    {
        "id": "4018f4c828884f46",
        "type": "group",
        "z": "532ded640d221b98",
        "name": "Motion Sensors Processing",
        "style": {
            "label": true,
            "label-position": "n",
            "color": "#000000",
            "fill": "#ffC000",
            "fill-opacity": "0.25",
            "stroke": "#ffC000"
        },
        "nodes": [
            "3c046f59373e2dea",
            "834ea361d1576dec",
            "c7eea6bd7cd84d88",
            "212d3982e878645f",
            "aaa46cf16abc6e49",
            "ef596dfffdf5bb72",
            "fa199037ac2c50eb",
            "37319766fce5a132",
            "8e8b21843f2c6e72"
        ],
        "x": 574,
        "y": 399,
        "w": 312,
        "h": 322
    },
    {
        "id": "ca97725123e6bb54",
        "type": "group",
        "z": "532ded640d221b98",
        "g": "23345d065b25b516",
        "name": "Motion Sensors",
        "style": {
            "label": true,
            "color": "#000000",
            "label-position": "n",
            "stroke": "#EBA4C0",
            "fill": "#EBA4C0",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "7f7ade1f1cbdd872",
            "04d67ba9451342b6",
            "291f2e620a56b7eb",
            "d254aca011280314"
        ],
        "x": 204,
        "y": 459,
        "w": 322,
        "h": 202
    },
    {
        "id": "9a15f7fa7185f590",
        "type": "group",
        "z": "532ded640d221b98",
        "name": "Dashboard",
        "style": {
            "label": true,
            "stroke": "#77C6CC",
            "fill": "#77C6CC",
            "fill-opacity": "0.25",
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "c33358094e63486c",
            "17a796a008e5047a",
            "c4ff2f28a4be56af",
            "466e4b63821e6371",
            "9e592ac0c7620ba1",
            "971ffbe4634df473",
            "5b69b17d7e40f455"
        ],
        "x": 904,
        "y": 459,
        "w": 342,
        "h": 162
    },
    {
        "id": "53e7d1471d37908a",
        "type": "group",
        "z": "532ded640d221b98",
        "g": "23345d065b25b516",
        "name": "Frequency Band Power",
        "style": {
            "stroke": "#EBA4C0",
            "fill": "#EBA4C0",
            "fill-opacity": "0.25",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "612e10072c172836",
            "07c65f44e58cb796",
            "d807d5dee38fe972",
            "029ce096c3aa7171",
            "40e1891a2968604a"
        ],
        "x": 194,
        "y": 39,
        "w": 292,
        "h": 322
    },
    {
        "id": "fea83661.1ab498",
        "type": "ui_group",
        "name": "Actions + Head tilt",
        "tab": "d7908651.24f9b8",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7908651.24f9b8",
        "type": "ui_tab",
        "name": "Emotiv BCI to ROS",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57c02932d38262de",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 48,
                "gy": 48,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5bfd748bbbfcb226",
        "type": "ui_tab",
        "name": "Test 2MC + neutral",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "04fbf8e4c6dce8f4",
        "type": "ui_group",
        "name": "Testing",
        "tab": "5bfd748bbbfcb226",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d020a3ad97ef856",
        "type": "ui_spacer",
        "z": "e1f01e5e.1a3c4",
        "name": "spacer",
        "group": "fea83661.1ab498",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "687a6001e05219b9",
        "type": "ui_spacer",
        "z": "e1f01e5e.1a3c4",
        "name": "spacer",
        "group": "fea83661.1ab498",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "e4d8a4e0.d94e68",
        "type": "ui_group",
        "name": "Training Data",
        "tab": "c01de816.1e4998",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "c01de816.1e4998",
        "type": "ui_tab",
        "name": "EEG Data Collection",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0a95d08837d8eb5c",
        "type": "ui_tab",
        "name": "Test Emotiv to Node-RED",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d218229b41e443e",
        "type": "ui_group",
        "name": "Responses",
        "tab": "0a95d08837d8eb5c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95e892029045c0d3",
        "type": "ui_spacer",
        "z": "5f0c638b67c035fd",
        "name": "spacer",
        "group": "e4d8a4e0.d94e68",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4b560499bd54e6d",
        "type": "ui_spacer",
        "z": "5f0c638b67c035fd",
        "name": "spacer",
        "group": "e4d8a4e0.d94e68",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "428b4a40a666540b",
        "type": "ui_tab",
        "name": "ML Prediction",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "db4756eecff0eda5",
        "type": "ui_group",
        "name": "Action and Head Tilt",
        "tab": "428b4a40a666540b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "303f9d115b69dfed",
        "type": "EMOTIV",
        "z": "b4f44bd45c851470",
        "name": "EMOTIV",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "e7f38b75748cede7",
                "b1842467b7ef06ad",
                "ffdc18c171a2e696",
                "acb73d324c82b130",
                "d29baa57b252f15f"
            ]
        ]
    },
    {
        "id": "e7f38b75748cede7",
        "type": "Frequency-Band-Power",
        "z": "b4f44bd45c851470",
        "name": "Frequency Band Powers",
        "freq": 0,
        "headset": "EPOC+",
        "sensor": 0,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "0824c17015f20fe5"
            ]
        ]
    },
    {
        "id": "0824c17015f20fe5",
        "type": "debug",
        "z": "b4f44bd45c851470",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "b1842467b7ef06ad",
        "type": "Frequency-Band-Power",
        "z": "b4f44bd45c851470",
        "name": "Frequency Band Powers",
        "freq": "1",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "fc31cabad98c0cf3"
            ]
        ]
    },
    {
        "id": "ffdc18c171a2e696",
        "type": "Frequency-Band-Power",
        "z": "b4f44bd45c851470",
        "name": "Frequency Band Powers",
        "freq": "2",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "75c0ddbc8cae8936"
            ]
        ]
    },
    {
        "id": "acb73d324c82b130",
        "type": "Frequency-Band-Power",
        "z": "b4f44bd45c851470",
        "name": "Frequency Band Powers",
        "freq": "3",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "956211c067e6a661"
            ]
        ]
    },
    {
        "id": "d29baa57b252f15f",
        "type": "Frequency-Band-Power",
        "z": "b4f44bd45c851470",
        "name": "Frequency Band Powers",
        "freq": "4",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "dc8edcd0c0032901"
            ]
        ]
    },
    {
        "id": "fc31cabad98c0cf3",
        "type": "debug",
        "z": "b4f44bd45c851470",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "75c0ddbc8cae8936",
        "type": "debug",
        "z": "b4f44bd45c851470",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "956211c067e6a661",
        "type": "debug",
        "z": "b4f44bd45c851470",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "dc8edcd0c0032901",
        "type": "debug",
        "z": "b4f44bd45c851470",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "d769a70a.980b78",
        "type": "function",
        "z": "5f0c638b67c035fd",
        "name": "Yes - Threshold 60",
        "func": "var spoken = context.get('spoken') || false;\nvar threshold = 60;\nvar outString = \"yes\";\nvar outMsg = {payload: \"\", text : outString};\n\nif (!spoken) {\n    if (msg.payload >= threshold) {\n        outMsg.payload = outString;\n        spoken = true;\n    }\n}\n\nif (msg.payload < threshold) {\n    spoken = false;\n    outMsg.text = \"\";\n}\n\nconsole.log(outMsg);\n\ncontext.set('spoken', spoken);\nreturn outMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 60,
        "wires": [
            [
                "44c939c1.e4e3a8",
                "622d1a57.250b94"
            ]
        ]
    },
    {
        "id": "33afa9c9.511c76",
        "type": "function",
        "z": "5f0c638b67c035fd",
        "name": "No - Threshold 60",
        "func": "var spoken = context.get('spoken') || false;\nvar threshold = 60;\nvar outString = \"no\";\nvar outMsg = {payload: \"\", text : outString};\n\nif (!spoken) {\n    if (msg.payload >= threshold) {\n        outMsg.payload = outString;\n        spoken = true;\n    }\n}\n\nif (msg.payload < threshold) {\n    spoken = false;\n    outMsg.text = \"\";\n}\n\ncontext.set('spoken', spoken);\nreturn outMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "44c939c1.e4e3a8",
                "622d1a57.250b94"
            ]
        ]
    },
    {
        "id": "44c939c1.e4e3a8",
        "type": "ui_text",
        "z": "5f0c638b67c035fd",
        "group": "7d218229b41e443e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Text Response",
        "format": "{{msg.text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "622d1a57.250b94",
        "type": "ui_audio",
        "z": "5f0c638b67c035fd",
        "name": "Voice Response",
        "group": "7d218229b41e443e",
        "voice": "en-US",
        "always": "",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "7a2816bd.f70c08",
        "type": "EMOTIV",
        "z": "5f0c638b67c035fd",
        "name": "EMOTIV",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "d82d6a78.fff4f8"
            ]
        ]
    },
    {
        "id": "d82d6a78.fff4f8",
        "type": "Profile-Name",
        "z": "5f0c638b67c035fd",
        "name": "Profile Name",
        "profileName": "",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "6af191cb.71c66",
                "d309717a.21006"
            ]
        ]
    },
    {
        "id": "6af191cb.71c66",
        "type": "Mental-Command",
        "z": "5f0c638b67c035fd",
        "name": "Mental Commands",
        "actionName": "push",
        "mcSen": "10",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "d769a70a.980b78"
            ]
        ]
    },
    {
        "id": "d309717a.21006",
        "type": "Mental-Command",
        "z": "5f0c638b67c035fd",
        "name": "Mental Commands",
        "actionName": "pull",
        "mcSen": "10",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "33afa9c9.511c76"
            ]
        ]
    },
    {
        "id": "bde227316ba7b98d",
        "type": "http request",
        "z": "418ae4db17aaa27d",
        "name": "Send Neutral Command",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:5014/emotiv_input",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 60,
        "wires": [
            [
                "ba5bee814d8c02a5"
            ]
        ]
    },
    {
        "id": "1f0981bb92ceb9f7",
        "type": "http request",
        "z": "418ae4db17aaa27d",
        "name": "Send Push Command",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:5014/emotiv/gripper/open",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "d37242652296866b"
            ]
        ]
    },
    {
        "id": "1dd579487c0296cf",
        "type": "http request",
        "z": "418ae4db17aaa27d",
        "name": "Send Pull Command",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:5014/emotiv/gripper/close",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "dcba939103ad5b24"
            ]
        ]
    },
    {
        "id": "ba5bee814d8c02a5",
        "type": "debug",
        "z": "418ae4db17aaa27d",
        "name": "Neutral",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "d37242652296866b",
        "type": "debug",
        "z": "418ae4db17aaa27d",
        "name": "Push",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "dcba939103ad5b24",
        "type": "debug",
        "z": "418ae4db17aaa27d",
        "name": "Pull",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "3943e92b4ad2b5bb",
        "type": "inject",
        "z": "418ae4db17aaa27d",
        "name": "Trigger Neutral Command",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "neutral",
        "payloadType": "str",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "bde227316ba7b98d"
            ]
        ]
    },
    {
        "id": "00d6dbd6d04d8143",
        "type": "inject",
        "z": "418ae4db17aaa27d",
        "name": "Trigger Push Command",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "push",
        "payloadType": "str",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "1f0981bb92ceb9f7"
            ]
        ]
    },
    {
        "id": "391ff91473b32cb5",
        "type": "inject",
        "z": "418ae4db17aaa27d",
        "name": "Trigger Pull Command",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pull",
        "payloadType": "str",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "1dd579487c0296cf"
            ]
        ]
    },
    {
        "id": "ce7ced7b709a425d",
        "type": "EMOTIV",
        "z": "912b42b3010b057f",
        "name": "EMOTIV",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "d35cb3ee70c08109"
            ]
        ]
    },
    {
        "id": "d35cb3ee70c08109",
        "type": "Profile-Name",
        "z": "912b42b3010b057f",
        "name": "Profile Name",
        "profileName": "gripper control",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "e3ed6f97ca6db480",
                "d2591bdff6c78bc5",
                "24f724b5430b729b"
            ]
        ]
    },
    {
        "id": "d2591bdff6c78bc5",
        "type": "Mental-Command",
        "z": "912b42b3010b057f",
        "name": "Mental Commands",
        "actionName": "neutral",
        "mcSen": "5",
        "x": 600,
        "y": 60,
        "wires": [
            [
                "91eebff92f46124f"
            ]
        ]
    },
    {
        "id": "e3ed6f97ca6db480",
        "type": "Mental-Command",
        "z": "912b42b3010b057f",
        "name": "Mental Commands",
        "actionName": "push",
        "mcSen": "5",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "3b4c0b1be51e8d8b"
            ]
        ]
    },
    {
        "id": "24f724b5430b729b",
        "type": "Mental-Command",
        "z": "912b42b3010b057f",
        "name": "Mental Commands",
        "actionName": "pull",
        "mcSen": "5",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "be06e478ab4e9676"
            ]
        ]
    },
    {
        "id": "3b4c0b1be51e8d8b",
        "type": "ui_gauge",
        "z": "912b42b3010b057f",
        "name": "",
        "group": "04fbf8e4c6dce8f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Push",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "91eebff92f46124f",
        "type": "ui_gauge",
        "z": "912b42b3010b057f",
        "name": "",
        "group": "04fbf8e4c6dce8f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Neutral",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "be06e478ab4e9676",
        "type": "ui_gauge",
        "z": "912b42b3010b057f",
        "name": "",
        "group": "04fbf8e4c6dce8f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pull",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "774ce4d1f3e8a634",
        "type": "EMOTIV",
        "z": "e1f01e5e.1a3c4",
        "g": "c5dd982f3c504e29",
        "name": "EMOTIV",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "a8843dbef2e06a37"
            ]
        ]
    },
    {
        "id": "a8843dbef2e06a37",
        "type": "Profile-Name",
        "z": "e1f01e5e.1a3c4",
        "g": "c5dd982f3c504e29",
        "name": "Profile",
        "profileName": "gripper control",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "e0ce477a9112debc",
                "0c9eb6bc16bf9262",
                "3e86151e432194bb",
                "cd0938c71b767828",
                "78b75d1a175ab203",
                "ce1781b3f9785571"
            ]
        ]
    },
    {
        "id": "3e66fb647057c9e6",
        "type": "ui_gauge",
        "z": "e1f01e5e.1a3c4",
        "g": "f1b3f5e90605bca8",
        "name": "",
        "group": "fea83661.1ab498",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Neutral",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1320,
        "y": 140,
        "wires": []
    },
    {
        "id": "250d384043f5a0b6",
        "type": "http request",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Send Neutral Command",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/neutral",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1973c89e3a71695c",
        "type": "http request",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Send Push Command",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/gripper/close",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8c13823e944e5c04",
        "type": "http request",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Send Pull Command",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/gripper/open",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a2d3cab7263eb7e7",
        "type": "debug",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Neutral",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "510c8d47890ee1c0",
        "type": "debug",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Push",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "ab8c5ab7fce22595",
        "type": "debug",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Pull",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "e1b43a5f8c226455",
        "type": "function",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Neutral msg",
        "func": "msg.payload = {\n    command: msg.payload,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 80,
        "wires": [
            [
                "250d384043f5a0b6",
                "a2d3cab7263eb7e7"
            ]
        ]
    },
    {
        "id": "33351957ffbdbf20",
        "type": "function",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Push msg",
        "func": "msg.payload = {\n    command: msg.payload,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 180,
        "wires": [
            [
                "1973c89e3a71695c",
                "510c8d47890ee1c0"
            ]
        ]
    },
    {
        "id": "b0a745e0549fa80c",
        "type": "function",
        "z": "e1f01e5e.1a3c4",
        "g": "71dedeec6942bbbe",
        "name": "Pull msg",
        "func": "msg.payload = {\n    command: msg.payload,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 280,
        "wires": [
            [
                "8c13823e944e5c04",
                "ab8c5ab7fce22595"
            ]
        ]
    },
    {
        "id": "d4736b16c8c4a330",
        "type": "ui_gauge",
        "z": "e1f01e5e.1a3c4",
        "g": "f1b3f5e90605bca8",
        "name": "",
        "group": "fea83661.1ab498",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Push: close gripper",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "0f249d7105031e60",
        "type": "ui_gauge",
        "z": "e1f01e5e.1a3c4",
        "g": "f1b3f5e90605bca8",
        "name": "",
        "group": "fea83661.1ab498",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Pull: open gripper",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 220,
        "wires": []
    },
    {
        "id": "22dab8c17a93af33",
        "type": "function",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "accX",
        "func": "msg.payload = {\n    accX: msg.payload,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 440,
        "wires": [
            [
                "9cf91f38d96b8676",
                "abfc75f5871e89d6"
            ]
        ]
    },
    {
        "id": "e26e1b45f6eea9cf",
        "type": "function",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "accZ",
        "func": "msg.payload = {\n    accZ: msg.payload,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 640,
        "wires": [
            [
                "a1548fb2acddbb7b",
                "7c0bad96c5b8d65a"
            ]
        ]
    },
    {
        "id": "7bb91a18e553130d",
        "type": "function",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "accY",
        "func": "msg.payload = {\n    accY: msg.payload,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 540,
        "wires": [
            [
                "46223d2415881e5c",
                "3cf25f8a90e93270"
            ]
        ]
    },
    {
        "id": "e0ce477a9112debc",
        "type": "Mental-Command",
        "z": "e1f01e5e.1a3c4",
        "g": "2078d95306bd476a",
        "name": "MC",
        "actionName": "neutral",
        "mcSen": "5",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "e1b43a5f8c226455",
                "8a15a68a43768c21"
            ]
        ]
    },
    {
        "id": "0c9eb6bc16bf9262",
        "type": "Mental-Command",
        "z": "e1f01e5e.1a3c4",
        "g": "2078d95306bd476a",
        "name": "MC",
        "actionName": "push",
        "mcSen": "5",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "33351957ffbdbf20",
                "265955259ed79492"
            ]
        ]
    },
    {
        "id": "3e86151e432194bb",
        "type": "Mental-Command",
        "z": "e1f01e5e.1a3c4",
        "g": "2078d95306bd476a",
        "name": "MC",
        "actionName": "pull",
        "mcSen": "5",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "b0a745e0549fa80c",
                "0b2881b0e92765b1"
            ]
        ]
    },
    {
        "id": "cd0938c71b767828",
        "type": "Motion-Sensor",
        "z": "e1f01e5e.1a3c4",
        "g": "a12fd97fea4d5139",
        "name": "MS",
        "metric": "4",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "7bb91a18e553130d",
                "769ba4978010f827"
            ]
        ]
    },
    {
        "id": "78b75d1a175ab203",
        "type": "Motion-Sensor",
        "z": "e1f01e5e.1a3c4",
        "g": "a12fd97fea4d5139",
        "name": "MS",
        "metric": "5",
        "x": 590,
        "y": 600,
        "wires": [
            [
                "e26e1b45f6eea9cf"
            ]
        ]
    },
    {
        "id": "ce1781b3f9785571",
        "type": "Motion-Sensor",
        "z": "e1f01e5e.1a3c4",
        "g": "a12fd97fea4d5139",
        "name": "MS",
        "metric": "3",
        "x": 590,
        "y": 480,
        "wires": [
            [
                "22dab8c17a93af33"
            ]
        ]
    },
    {
        "id": "8a15a68a43768c21",
        "type": "link out",
        "z": "e1f01e5e.1a3c4",
        "g": "2078d95306bd476a",
        "name": "Dashboard Neutral",
        "mode": "link",
        "links": [
            "4026fb70644dbb38"
        ],
        "x": 655,
        "y": 100,
        "wires": [],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "4026fb70644dbb38",
        "type": "link in",
        "z": "e1f01e5e.1a3c4",
        "g": "f1b3f5e90605bca8",
        "name": "Dashboard Neutral",
        "links": [
            "8a15a68a43768c21"
        ],
        "x": 1225,
        "y": 140,
        "wires": [
            [
                "3e66fb647057c9e6"
            ]
        ],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "265955259ed79492",
        "type": "link out",
        "z": "e1f01e5e.1a3c4",
        "g": "2078d95306bd476a",
        "name": "Dashboard Push",
        "mode": "link",
        "links": [
            "ee6ed693bcd8230d"
        ],
        "x": 655,
        "y": 180,
        "wires": [],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "ee6ed693bcd8230d",
        "type": "link in",
        "z": "e1f01e5e.1a3c4",
        "g": "f1b3f5e90605bca8",
        "name": "Dashboard Push",
        "links": [
            "265955259ed79492"
        ],
        "x": 1225,
        "y": 180,
        "wires": [
            [
                "d4736b16c8c4a330"
            ]
        ],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "0b2881b0e92765b1",
        "type": "link out",
        "z": "e1f01e5e.1a3c4",
        "g": "2078d95306bd476a",
        "name": "Dashboard Pull",
        "mode": "link",
        "links": [
            "d8c79e62c8076229"
        ],
        "x": 655,
        "y": 260,
        "wires": [],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "d8c79e62c8076229",
        "type": "link in",
        "z": "e1f01e5e.1a3c4",
        "g": "f1b3f5e90605bca8",
        "name": "Dashboard Pull",
        "links": [
            "0b2881b0e92765b1"
        ],
        "x": 1225,
        "y": 220,
        "wires": [
            [
                "0f249d7105031e60"
            ]
        ],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "abfc75f5871e89d6",
        "type": "http request",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "Send accX",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/acceleration/x",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "9cf91f38d96b8676",
        "type": "debug",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "accX",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 420,
        "wires": []
    },
    {
        "id": "3cf25f8a90e93270",
        "type": "http request",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "Send accY",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/acceleration/y",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "46223d2415881e5c",
        "type": "debug",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "accY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "7c0bad96c5b8d65a",
        "type": "http request",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "Send accZ",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/acceleration/z",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a1548fb2acddbb7b",
        "type": "debug",
        "z": "e1f01e5e.1a3c4",
        "g": "ce1a6da7223e9e9f",
        "name": "accZ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 620,
        "wires": []
    },
    {
        "id": "769ba4978010f827",
        "type": "link out",
        "z": "e1f01e5e.1a3c4",
        "g": "a12fd97fea4d5139",
        "name": "magY",
        "mode": "link",
        "links": [
            "db996083278e494c",
            "959f04cee26a69ee"
        ],
        "x": 735,
        "y": 540,
        "wires": [],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "db996083278e494c",
        "type": "link in",
        "z": "e1f01e5e.1a3c4",
        "g": "45533d472c436ec0",
        "name": "magY",
        "links": [
            "769ba4978010f827"
        ],
        "x": 1165,
        "y": 520,
        "wires": [
            [
                "b08cae830129419c"
            ]
        ],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "466a6a0ab381ade6",
        "type": "ui_text",
        "z": "e1f01e5e.1a3c4",
        "g": "45533d472c436ec0",
        "group": "fea83661.1ab498",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Head tilt",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 520,
        "wires": []
    },
    {
        "id": "b08cae830129419c",
        "type": "function",
        "z": "e1f01e5e.1a3c4",
        "g": "45533d472c436ec0",
        "name": "Tilt",
        "func": "let accY = msg.payload;\n\nlet tilt = \"center\";\n\nif (accY < 7500) {\n    tilt = \"left\";\n} else if (accY > 8500) {\n    tilt = \"right\";\n}\n\nmsg.payload = tilt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 520,
        "wires": [
            [
                "466a6a0ab381ade6"
            ]
        ]
    },
    {
        "id": "cd013d53bb8f7ca4",
        "type": "inject",
        "z": "e1f01e5e.1a3c4",
        "g": "831ddf5fbc91a672",
        "name": "Close gripper",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "push",
        "payloadType": "str",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "33351957ffbdbf20"
            ]
        ]
    },
    {
        "id": "91385728185e65c2",
        "type": "inject",
        "z": "e1f01e5e.1a3c4",
        "g": "831ddf5fbc91a672",
        "name": "Open gripper",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pull",
        "payloadType": "str",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "b0a745e0549fa80c"
            ]
        ]
    },
    {
        "id": "85cea2cdd1e13d4e",
        "type": "ui_text",
        "z": "e1f01e5e.1a3c4",
        "g": "45533d472c436ec0",
        "group": "fea83661.1ab498",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1370,
        "y": 560,
        "wires": []
    },
    {
        "id": "959f04cee26a69ee",
        "type": "link in",
        "z": "e1f01e5e.1a3c4",
        "g": "45533d472c436ec0",
        "name": "magY",
        "links": [
            "769ba4978010f827"
        ],
        "x": 1165,
        "y": 560,
        "wires": [
            [
                "85cea2cdd1e13d4e"
            ]
        ],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "ed836d86e66c3718",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0f629cdf65d2a2b2",
        "name": "Store Alpha Data",
        "func": "flow.set('alphaData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 60,
        "wires": [
            [
                "968438a3e4cc9c17"
            ]
        ]
    },
    {
        "id": "b5c2d5d67356b02f",
        "type": "EMOTIV",
        "z": "e2f4ed605471f537",
        "g": "bfa6067a4a904d68",
        "name": "EMOTIV",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "1db48cd5b9dd1cba",
                "808b7cb05cf52995",
                "6da3a98c8bb3f0f2",
                "e187111a92f1b5b0",
                "d19e46e1e9363aa6"
            ]
        ]
    },
    {
        "id": "1db48cd5b9dd1cba",
        "type": "Frequency-Band-Power",
        "z": "e2f4ed605471f537",
        "g": "bfa6067a4a904d68",
        "name": "FBP",
        "freq": "1",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "ed836d86e66c3718"
            ]
        ]
    },
    {
        "id": "808b7cb05cf52995",
        "type": "Frequency-Band-Power",
        "z": "e2f4ed605471f537",
        "g": "bfa6067a4a904d68",
        "name": "FBP",
        "freq": "2",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "c3101725157a1c88"
            ]
        ]
    },
    {
        "id": "6da3a98c8bb3f0f2",
        "type": "Frequency-Band-Power",
        "z": "e2f4ed605471f537",
        "g": "bfa6067a4a904d68",
        "name": "FBP",
        "freq": "3",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "16e510f34a1bf111"
            ]
        ]
    },
    {
        "id": "e187111a92f1b5b0",
        "type": "Frequency-Band-Power",
        "z": "e2f4ed605471f537",
        "g": "bfa6067a4a904d68",
        "name": "FBP",
        "freq": "4",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "06924b11d5b17e7a"
            ]
        ]
    },
    {
        "id": "d19e46e1e9363aa6",
        "type": "Frequency-Band-Power",
        "z": "e2f4ed605471f537",
        "g": "bfa6067a4a904d68",
        "name": "FBP",
        "freq": "0",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "e52fb457e9d61cea"
            ]
        ]
    },
    {
        "id": "c3101725157a1c88",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0f629cdf65d2a2b2",
        "name": "Store Beta Low Data",
        "func": "flow.set('betaLowData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "968438a3e4cc9c17"
            ]
        ]
    },
    {
        "id": "16e510f34a1bf111",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0f629cdf65d2a2b2",
        "name": "Store Beta High Data",
        "func": "flow.set('betaHighData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "968438a3e4cc9c17"
            ]
        ]
    },
    {
        "id": "06924b11d5b17e7a",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0f629cdf65d2a2b2",
        "name": "Store Gamma Data",
        "func": "flow.set('gammaData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "968438a3e4cc9c17"
            ]
        ]
    },
    {
        "id": "e52fb457e9d61cea",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0f629cdf65d2a2b2",
        "name": "Store Theta Data",
        "func": "flow.set('thetaData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "968438a3e4cc9c17",
                "9920e1798be8798a"
            ]
        ]
    },
    {
        "id": "968438a3e4cc9c17",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0f629cdf65d2a2b2",
        "name": "Combine Frequencies",
        "func": "// Retrieve stored data from flow context\nvar alphaData = flow.get('alphaData') || [];\nvar betaLowData = flow.get('betaLowData') || [];\nvar betaHighData = flow.get('betaHighData') || [];\nvar gammaData = flow.get('gammaData') || [];\nvar thetaData = flow.get('thetaData') || [];\nvar commandData = flow.get('command') || [];\n\n// Initialize transformedData to accumulate combined data\nvar transformedData = {};\n\n// Define labels for each frequency band\nvar labels = ['_alpha', '_beta_low', '_beta_high', '_gamma', '_theta'];\nvar dataArrays = [alphaData, betaLowData, betaHighData, gammaData, thetaData];\n\n// Combine data if all arrays have data\nif (alphaData.length > 0 && betaLowData.length > 0 && betaHighData.length > 0 && gammaData.length > 0 && thetaData.length > 0) {\n    if (commandData == 'neutral' || commandData == 'open' || commandData == 'close') {\n        for (var i = 0; i < labels.length; i++) {\n            var currentData = dataArrays[i];\n            for (var j = 0; j < currentData.length; j++) {\n                transformedData[j + labels[i]] = currentData[j];\n            }\n        }\n        transformedData['command'] = commandData;\n        msg.combined = transformedData;\n        \n        // Clear stored data\n        flow.set('alphaData', []);\n        flow.set('betaLowData', []);\n        flow.set('betaHighData', []);\n        flow.set('gammaData', []);\n        flow.set('thetaData', []);\n\n        return msg;\n    }\n    return null;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 180,
        "wires": [
            [
                "294931d189a1ec07",
                "36ee610b3258a5c7"
            ]
        ]
    },
    {
        "id": "1981989bdcc201f2",
        "type": "ui_switch",
        "z": "e2f4ed605471f537",
        "g": "96ba6ab731736ebc",
        "name": "Recording Switch",
        "label": "Recording",
        "tooltip": "",
        "group": "e4d8a4e0.d94e68",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "e439d83741deda58"
            ]
        ]
    },
    {
        "id": "49b949cccf90fc7b",
        "type": "ui_dropdown",
        "z": "e2f4ed605471f537",
        "g": "96ba6ab731736ebc",
        "name": "Mental command",
        "label": "Mental command",
        "tooltip": "",
        "place": "Select option",
        "group": "e4d8a4e0.d94e68",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Neutral",
                "value": "neutral",
                "type": "str"
            },
            {
                "label": "Open",
                "value": "open",
                "type": "str"
            },
            {
                "label": "Close",
                "value": "close",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "567ea95ede562d2c"
            ]
        ]
    },
    {
        "id": "294931d189a1ec07",
        "type": "switch",
        "z": "e2f4ed605471f537",
        "g": "f2061261b933916f",
        "name": "Switch Recording",
        "property": "recording",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "bool"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 180,
        "wires": [
            [
                "936b215ab6dfb719"
            ]
        ]
    },
    {
        "id": "567ea95ede562d2c",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0f629cdf65d2a2b2",
        "name": "Store Mental Command",
        "func": "flow.set('command', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e439d83741deda58",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0f629cdf65d2a2b2",
        "name": "Store Recording Data",
        "func": "flow.set('recording', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "936b215ab6dfb719",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "05debabdd37c8894",
        "name": "Prepare CSV Data",
        "func": "// Extract the combined data\nconst combinedData = msg.combined;\n\n// Initialize row\nconst row = [];\n\n// Get the current timestamp\nconst timestamp = new Date().toISOString();\nrow.push(timestamp);\n\n// Add header and values for 14 data points for each frequency band\nconst bands = ['alpha', 'beta_low', 'beta_high', 'gamma', 'theta'];\nbands.forEach(band => {\n    for (let i = 0; i <= 13; i++) {\n        row.push(combinedData[`${i}_${band}`] || '');\n    }\n});\n\n// Add value for the command\nrow.push(combinedData['command'] || '');\n\n// Convert row to CSV format\nconst csvRow = row.join(',');\n\nmsg.payload = csvRow + '\\n';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 180,
        "wires": [
            [
                "d56ccffcbe6040c6",
                "d44b22a5efb384dc"
            ]
        ]
    },
    {
        "id": "651da4dd7228ce1c",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0e1f7670d099f2a3",
        "name": "Set File Not Exists",
        "func": "flow.set('fileExists', false);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 200,
        "wires": [
            [
                "078bbc5596fd792b",
                "5fa3999de3c0049b"
            ]
        ]
    },
    {
        "id": "078bbc5596fd792b",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "6d9bafec0c7f886a",
        "name": "Prepare CSV Headers",
        "func": "// Initialize headers\nconst headers = ['timestamp'];\nconst bands = ['alpha', 'beta_low', 'beta_high', 'gamma', 'theta'];\nbands.forEach(band => {\n    for (let i = 0; i <= 13; i++) {\n        headers.push(`${band}_${i}`);\n    }\n});\nheaders.push('command');\n\n// CSV format\nconst cvsHeaders = headers.join(',');\n\nmsg.payload = cvsHeaders + '\\n';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2060,
        "y": 200,
        "wires": [
            [
                "d5d86b3c5e33be86"
            ]
        ]
    },
    {
        "id": "d5d86b3c5e33be86",
        "type": "file",
        "z": "e2f4ed605471f537",
        "g": "6d9bafec0c7f886a",
        "name": "Write CSV File",
        "filename": "C:\\Users\\Romain\\Desktop\\robots_after_dark\\src\\frequency_dataset.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2260,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "81481ef233088497",
        "type": "file",
        "z": "e2f4ed605471f537",
        "g": "6d9bafec0c7f886a",
        "name": "Write CSV File",
        "filename": "C:\\Users\\Romain\\Desktop\\robots_after_dark\\src\\frequency_dataset.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2040,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d3be549fe307c80d",
        "type": "function",
        "z": "e2f4ed605471f537",
        "g": "0e1f7670d099f2a3",
        "name": "Set File Exists",
        "func": "flow.set('fileExists', true);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 160,
        "wires": [
            [
                "81481ef233088497",
                "c5c10f1dd9a046aa"
            ]
        ]
    },
    {
        "id": "5fa3999de3c0049b",
        "type": "debug",
        "z": "e2f4ed605471f537",
        "g": "effaf9419984a627",
        "name": "Debug Not Existing File",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 340,
        "wires": []
    },
    {
        "id": "d56ccffcbe6040c6",
        "type": "debug",
        "z": "e2f4ed605471f537",
        "g": "effaf9419984a627",
        "name": "Debug CVS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 320,
        "wires": []
    },
    {
        "id": "c5c10f1dd9a046aa",
        "type": "debug",
        "z": "e2f4ed605471f537",
        "g": "effaf9419984a627",
        "name": "Debug Existing File",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 300,
        "wires": []
    },
    {
        "id": "9920e1798be8798a",
        "type": "debug",
        "z": "e2f4ed605471f537",
        "g": "effaf9419984a627",
        "name": "Debug Frequency - Store Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "36ee610b3258a5c7",
        "type": "debug",
        "z": "e2f4ed605471f537",
        "g": "effaf9419984a627",
        "name": "Debug Data ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "combined",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 300,
        "wires": []
    },
    {
        "id": "d44b22a5efb384dc",
        "type": "fs-ops-access",
        "z": "e2f4ed605471f537",
        "g": "0e1f7670d099f2a3",
        "name": "Check File Exists",
        "path": "C:\\Users\\Romain\\Desktop\\robots_after_dark\\src\\",
        "pathType": "str",
        "filename": "frequency_dataset.csv",
        "filenameType": "str",
        "read": true,
        "write": true,
        "throwerror": false,
        "x": 1610,
        "y": 180,
        "wires": [
            [
                "d3be549fe307c80d"
            ],
            [
                "651da4dd7228ce1c"
            ]
        ]
    },
    {
        "id": "838004158d8f58c4",
        "type": "http request",
        "z": "532ded640d221b98",
        "g": "a0a4b4cd0ea79f59",
        "name": "Send to Flask",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1220,
        "y": 200,
        "wires": [
            [
                "ce28e374ee95b6b1",
                "13f80ce380ee1f87"
            ]
        ]
    },
    {
        "id": "ce28e374ee95b6b1",
        "type": "debug",
        "z": "532ded640d221b98",
        "g": "a0a4b4cd0ea79f59",
        "name": "Prediction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e2f4dff9fee3669",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "c3cb24deda0c74f5",
        "name": "Store Alpha Data",
        "func": "flow.set('alphaData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "b0bb8c1036a2741a"
            ]
        ]
    },
    {
        "id": "f6a2822f6bb32972",
        "type": "EMOTIV",
        "z": "532ded640d221b98",
        "g": "23345d065b25b516",
        "name": "EMOTIV",
        "x": 100,
        "y": 400,
        "wires": [
            [
                "612e10072c172836",
                "07c65f44e58cb796",
                "d807d5dee38fe972",
                "029ce096c3aa7171",
                "40e1891a2968604a",
                "7f7ade1f1cbdd872",
                "04d67ba9451342b6",
                "291f2e620a56b7eb"
            ]
        ]
    },
    {
        "id": "612e10072c172836",
        "type": "Frequency-Band-Power",
        "z": "532ded640d221b98",
        "g": "53e7d1471d37908a",
        "name": "FBP",
        "freq": "1",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "2e2f4dff9fee3669"
            ]
        ]
    },
    {
        "id": "07c65f44e58cb796",
        "type": "Frequency-Band-Power",
        "z": "532ded640d221b98",
        "g": "53e7d1471d37908a",
        "name": "FBP",
        "freq": "2",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "0d98de19a7bc912a"
            ]
        ]
    },
    {
        "id": "d807d5dee38fe972",
        "type": "Frequency-Band-Power",
        "z": "532ded640d221b98",
        "g": "53e7d1471d37908a",
        "name": "FBP",
        "freq": "3",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "b5b7acfa06fd132a"
            ]
        ]
    },
    {
        "id": "029ce096c3aa7171",
        "type": "Frequency-Band-Power",
        "z": "532ded640d221b98",
        "g": "53e7d1471d37908a",
        "name": "FBP",
        "freq": "4",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "109b184fc9c07bc9"
            ]
        ]
    },
    {
        "id": "40e1891a2968604a",
        "type": "Frequency-Band-Power",
        "z": "532ded640d221b98",
        "g": "53e7d1471d37908a",
        "name": "FBP",
        "freq": "0",
        "headset": "EPOC+",
        "sensor": 0,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "677d4483590db3ec"
            ]
        ]
    },
    {
        "id": "0d98de19a7bc912a",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "c3cb24deda0c74f5",
        "name": "Store Beta Low Data",
        "func": "flow.set('betaLowData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 140,
        "wires": [
            [
                "b0bb8c1036a2741a"
            ]
        ]
    },
    {
        "id": "b5b7acfa06fd132a",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "c3cb24deda0c74f5",
        "name": "Store Beta High Data",
        "func": "flow.set('betaHighData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            [
                "b0bb8c1036a2741a"
            ]
        ]
    },
    {
        "id": "109b184fc9c07bc9",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "c3cb24deda0c74f5",
        "name": "Store Gamma Data",
        "func": "flow.set('gammaData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "b0bb8c1036a2741a"
            ]
        ]
    },
    {
        "id": "677d4483590db3ec",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "c3cb24deda0c74f5",
        "name": "Store Theta Data",
        "func": "flow.set('thetaData', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 320,
        "wires": [
            [
                "b0bb8c1036a2741a"
            ]
        ]
    },
    {
        "id": "b0bb8c1036a2741a",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "c3cb24deda0c74f5",
        "name": "Combine Frequencies",
        "func": "// Retrieve stored data from flow context\nvar alphaData = flow.get('alphaData') || [];\nvar betaLowData = flow.get('betaLowData') || [];\nvar betaHighData = flow.get('betaHighData') || [];\nvar gammaData = flow.get('gammaData') || [];\nvar thetaData = flow.get('thetaData') || [];\n\n// Initialize transformedData to accumulate combined data\nvar transformedData = {};\n\n// Define labels for each frequency band\nvar labels = ['_alpha', '_beta_low', '_beta_high', '_gamma', '_theta'];\nvar dataArrays = [alphaData, betaLowData, betaHighData, gammaData, thetaData];\n\n// Combine data if all arrays have data\nif (alphaData.length > 0 && betaLowData.length > 0 && betaHighData.length > 0 && gammaData.length > 0 && thetaData.length > 0) {\n    for (var i = 0; i < labels.length; i++) {\n        var currentData = dataArrays[i];\n        for (var j = 0; j < currentData.length; j++) {\n            transformedData[j + labels[i]] = currentData[j];\n        }\n    }\n    msg.combined = transformedData;\n    \n    // Clear stored data\n    flow.set('alphaData', []);\n    flow.set('betaLowData', []);\n    flow.set('betaHighData', []);\n    flow.set('gammaData', []);\n    flow.set('thetaData', []);\n\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 200,
        "wires": [
            [
                "838004158d8f58c4"
            ]
        ]
    },
    {
        "id": "3c046f59373e2dea",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "accX",
        "func": "msg.payload = {\n    accX: msg.payload,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 460,
        "wires": [
            [
                "aaa46cf16abc6e49",
                "212d3982e878645f"
            ]
        ]
    },
    {
        "id": "834ea361d1576dec",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "accY",
        "func": "msg.payload = {\n    accY: msg.payload,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 560,
        "wires": [
            [
                "fa199037ac2c50eb",
                "ef596dfffdf5bb72"
            ]
        ]
    },
    {
        "id": "c7eea6bd7cd84d88",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "accZ",
        "func": "msg.payload = {\n    accZ: msg.payload,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 660,
        "wires": [
            [
                "37319766fce5a132",
                "8e8b21843f2c6e72"
            ]
        ]
    },
    {
        "id": "212d3982e878645f",
        "type": "http request",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "Send accX",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/acceleration/x",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "aaa46cf16abc6e49",
        "type": "debug",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "accX",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "ef596dfffdf5bb72",
        "type": "http request",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "Send accY",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/acceleration/y",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "fa199037ac2c50eb",
        "type": "debug",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "accY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "37319766fce5a132",
        "type": "debug",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "accZ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "8e8b21843f2c6e72",
        "type": "http request",
        "z": "532ded640d221b98",
        "g": "4018f4c828884f46",
        "name": "Send accZ",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.237.203:5014/emotiv/acceleration/z",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "7f7ade1f1cbdd872",
        "type": "Motion-Sensor",
        "z": "532ded640d221b98",
        "g": "ca97725123e6bb54",
        "name": "MS",
        "metric": "3",
        "x": 340,
        "y": 500,
        "wires": [
            [
                "3c046f59373e2dea"
            ]
        ]
    },
    {
        "id": "04d67ba9451342b6",
        "type": "Motion-Sensor",
        "z": "532ded640d221b98",
        "g": "ca97725123e6bb54",
        "name": "MS",
        "metric": "4",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "834ea361d1576dec",
                "d254aca011280314"
            ]
        ]
    },
    {
        "id": "291f2e620a56b7eb",
        "type": "Motion-Sensor",
        "z": "532ded640d221b98",
        "g": "ca97725123e6bb54",
        "name": "MS",
        "metric": "5",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "c7eea6bd7cd84d88"
            ]
        ]
    },
    {
        "id": "d254aca011280314",
        "type": "link out",
        "z": "532ded640d221b98",
        "g": "ca97725123e6bb54",
        "name": "magY",
        "mode": "link",
        "links": [
            "c33358094e63486c",
            "9e592ac0c7620ba1"
        ],
        "x": 485,
        "y": 560,
        "wires": [],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "c33358094e63486c",
        "type": "link in",
        "z": "532ded640d221b98",
        "g": "9a15f7fa7185f590",
        "name": "magY",
        "links": [
            "d254aca011280314"
        ],
        "x": 945,
        "y": 540,
        "wires": [
            [
                "17a796a008e5047a"
            ]
        ],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "17a796a008e5047a",
        "type": "function",
        "z": "532ded640d221b98",
        "g": "9a15f7fa7185f590",
        "name": "Tilt",
        "func": "let accY = msg.payload;\n\nlet tilt = \"center\";\n\nif (accY < 7500) {\n    tilt = \"left\";\n} else if (accY > 8500) {\n    tilt = \"right\";\n}\n\nmsg.payload = tilt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "c4ff2f28a4be56af"
            ]
        ]
    },
    {
        "id": "c4ff2f28a4be56af",
        "type": "ui_text",
        "z": "532ded640d221b98",
        "g": "9a15f7fa7185f590",
        "group": "db4756eecff0eda5",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Head tilt",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 540,
        "wires": []
    },
    {
        "id": "466e4b63821e6371",
        "type": "ui_text",
        "z": "532ded640d221b98",
        "g": "9a15f7fa7185f590",
        "group": "db4756eecff0eda5",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "9e592ac0c7620ba1",
        "type": "link in",
        "z": "532ded640d221b98",
        "g": "9a15f7fa7185f590",
        "name": "magY",
        "links": [
            "d254aca011280314"
        ],
        "x": 945,
        "y": 580,
        "wires": [
            [
                "466e4b63821e6371"
            ]
        ],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "971ffbe4634df473",
        "type": "ui_text",
        "z": "532ded640d221b98",
        "g": "9a15f7fa7185f590",
        "group": "db4756eecff0eda5",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 500,
        "wires": []
    },
    {
        "id": "5b69b17d7e40f455",
        "type": "link in",
        "z": "532ded640d221b98",
        "g": "9a15f7fa7185f590",
        "name": "Prediction",
        "links": [
            "13f80ce380ee1f87"
        ],
        "x": 945,
        "y": 500,
        "wires": [
            [
                "971ffbe4634df473"
            ]
        ],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    },
    {
        "id": "13f80ce380ee1f87",
        "type": "link out",
        "z": "532ded640d221b98",
        "g": "a0a4b4cd0ea79f59",
        "name": "Prediction",
        "mode": "link",
        "links": [
            "5b69b17d7e40f455"
        ],
        "x": 1335,
        "y": 220,
        "wires": [],
        "icon": "node-red-contrib-emotiv-bci/ic-mental-commands.png"
    }
]
